
  
  #welcome-section {
      position: fixed;
      height: 100vh;
  }

  #navbar {
      position: fixed;
      top: 0;
  }
  @media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }